@charset "UTF-8";
@keyframes wiggle {
  0% {
    transform: perspective(10em) scale(1) rotateX(-25deg);
  }
  20% {
    transform: perspective(10em) scale(1.1) rotateX(0deg);
  }
  40% {
    transform: perspective(10em) scale(1) rotateX(-15deg);
  }
  60% {
    transform: perspective(10em) scale(1.07) rotateX(0deg);
  }
  80% {
    transform: perspective(10em) scale(1) rotateX(-10deg);
  }
  100% {
    transform: perspective(10em) scale(1.05) rotateX(0deg);
  }
}
body {
  color: #6e7478;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 800;
}

#body h6 {
  font-size: 19px;
  font-size: 1.16667rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #6e7478;
}
#body h6 .subtitle {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
#body h5 {
  font-size: 22px;
  font-size: 1.36111rem;
  line-height: 48px;
  line-height: 3rem;
  color: #676d71;
}
#body h5 .subtitle {
  font-size: 19px;
  font-size: 1.16667rem;
  line-height: 24px;
  line-height: 1.5rem;
}
#body h4 {
  font-size: 25px;
  font-size: 1.58796rem;
  line-height: 48px;
  line-height: 3rem;
  color: #61676b;
}
#body h4 .subtitle {
  font-size: 22px;
  font-size: 1.36111rem;
  line-height: 48px;
  line-height: 3rem;
}
#body h3 {
  font-size: 30px;
  font-size: 1.85262rem;
  line-height: 48px;
  line-height: 3rem;
  color: #5b6064;
}
#body h3 .subtitle {
  font-size: 25px;
  font-size: 1.58796rem;
  line-height: 48px;
  line-height: 3rem;
}
#body h2 {
  font-size: 35px;
  font-size: 2.16139rem;
  line-height: 48px;
  line-height: 3rem;
  color: #555a5d;
}
#body h2 .subtitle {
  font-size: 30px;
  font-size: 1.85262rem;
  line-height: 48px;
  line-height: 3rem;
}
#body h1 {
  font-size: 40px;
  font-size: 2.52163rem;
  line-height: 48px;
  line-height: 3rem;
  color: #4f5357;
}
#body h1 .subtitle {
  font-size: 35px;
  font-size: 2.16139rem;
  line-height: 48px;
  line-height: 3rem;
}
#body h1, #body h2, #body h3, #body h4, #body h5, #body h6 {
  text-transform: lowercase;
  letter-spacing: -0.03125em;
  position: relative;
  text-align: center;
}
#body h1:before, #body h1:after, #body h2:before, #body h2:after, #body h3:before, #body h3:after, #body h4:before, #body h4:after, #body h5:before, #body h5:after, #body h6:before, #body h6:after {
  content: '';
  position: absolute;
  display: block;
  background: rgba(80, 76, 73, 0.04);
  z-index: -3;
}
#body h1:before, #body h2:before, #body h3:before, #body h4:before, #body h5:before, #body h6:before {
  top: calc(50% - 1em);
  left: calc(50% - 1em);
  border-radius: 1em;
  width: 2em;
  height: 2em;
}
#body h1:after, #body h2:after, #body h3:after, #body h4:after, #body h5:after, #body h6:after {
  top: calc(50% - 0.66667em);
  left: calc(50% - 0.66667em);
  border-radius: 0.66667em;
  width: 1.33333em;
  height: 1.33333em;
}
#body h1 .subtitle, #body h2 .subtitle, #body h3 .subtitle, #body h4 .subtitle, #body h5 .subtitle, #body h6 .subtitle {
  display: block;
  font-weight: 400;
}

i, em {
  font-style: italic;
}

a {
  text-decoration: none;
  outline: 0;
  background-repeat: repeat-x;
  background-size: 1px 0px;
  background-position: 0 100%;
  transition: background-size 100ms ease-in;
}
#header a, #footer a {
  color: #aeb4b7;
  background-image: linear-gradient(#9f9793 0%, #9f9793 100%);
  text-shadow: 0 0 0 transparent, -1px -1px 0 #494D50, 0px -1px 0 #494D50, 1px -1px 0 #494D50, -1px 0px 0 #494D50, 0px 0px 0 #494D50, 1px 0px 0 #494D50, -1px 1px 0 #494D50, 0px 1px 0 #494D50, 1px 1px 0 #494D50, -2px -2px 0 #494D50, -1px -2px 0 #494D50, 0px -2px 0 #494D50, 1px -2px 0 #494D50, 2px -2px 0 #494D50, -2px -1px 0 #494D50, -1px -1px 0 #494D50, 0px -1px 0 #494D50, 1px -1px 0 #494D50, 2px -1px 0 #494D50, -2px 0px 0 #494D50, -1px 0px 0 #494D50, 0px 0px 0 #494D50, 1px 0px 0 #494D50, 2px 0px 0 #494D50, -2px 1px 0 #494D50, -1px 1px 0 #494D50, 0px 1px 0 #494D50, 1px 1px 0 #494D50, 2px 1px 0 #494D50, -2px 2px 0 #494D50, -1px 2px 0 #494D50, 0px 2px 0 #494D50, 1px 2px 0 #494D50, 2px 2px 0 #494D50;
}
#navbar a {
  background-image: linear-gradient(#9f9793 0%, #9f9793 100%);
  position: relative;
  z-index: 4;
}
#navbar .active a {
  background-size: 1px 1px;
}
#body a {
  background-image: linear-gradient(rgba(158, 152, 148, 0.5) 0%, rgba(158, 152, 148, 0.5) 100%);
  text-shadow: 0 0 0 transparent, -1px -1px 0 #E4E6E7, 0px -1px 0 #E4E6E7, 1px -1px 0 #E4E6E7, -1px 0px 0 #E4E6E7, 0px 0px 0 #E4E6E7, 1px 0px 0 #E4E6E7, -1px 1px 0 #E4E6E7, 0px 1px 0 #E4E6E7, 1px 1px 0 #E4E6E7, -2px -2px 0 #E4E6E7, -1px -2px 0 #E4E6E7, 0px -2px 0 #E4E6E7, 1px -2px 0 #E4E6E7, 2px -2px 0 #E4E6E7, -2px -1px 0 #E4E6E7, -1px -1px 0 #E4E6E7, 0px -1px 0 #E4E6E7, 1px -1px 0 #E4E6E7, 2px -1px 0 #E4E6E7, -2px 0px 0 #E4E6E7, -1px 0px 0 #E4E6E7, 0px 0px 0 #E4E6E7, 1px 0px 0 #E4E6E7, 2px 0px 0 #E4E6E7, -2px 1px 0 #E4E6E7, -1px 1px 0 #E4E6E7, 0px 1px 0 #E4E6E7, 1px 1px 0 #E4E6E7, 2px 1px 0 #E4E6E7, -2px 2px 0 #E4E6E7, -1px 2px 0 #E4E6E7, 0px 2px 0 #E4E6E7, 1px 2px 0 #E4E6E7, 2px 2px 0 #E4E6E7;
  color: #b87747;
}
#body a:visited {
  color: #756457;
}
a:hover, a:focus, #navbar .active a:hover, #navbar .active a:focus {
  transition: background-size 100ms ease-in;
  background-size: 1px 3px;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

body {
  background: #E4E6E7;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#sb-site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header, #body, #footer {
  padding: 0.75rem;
}
#header .container, #body .container, #footer .container {
  max-width: 40em;
  margin: auto;
}

#header, #footer {
  background: #494D50;
  color: #E4E6E7;
}

#body {
  flex: 1;
}

#header {
  overflow: hidden;
  padding-bottom: 0;
  text-align: center;
  border-bottom: 0.75rem solid #7a8085;
  text-transform: lowercase;
}

#logo h3 {
  font-size: 64px;
  font-size: 4.00425rem;
  line-height: 72px;
  line-height: 4.5rem;
  margin: 0;
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
}
#logo a {
  text-shadow: 0 0 0 transparent, -1px -1px 0 #494D50, 0px -1px 0 #494D50, 1px -1px 0 #494D50, -1px 0px 0 #494D50, 0px 0px 0 #494D50, 1px 0px 0 #494D50, -1px 1px 0 #494D50, 0px 1px 0 #494D50, 1px 1px 0 #494D50, -2px -2px 0 #494D50, -1px -2px 0 #494D50, 0px -2px 0 #494D50, 1px -2px 0 #494D50, 2px -2px 0 #494D50, -2px -1px 0 #494D50, -1px -1px 0 #494D50, 0px -1px 0 #494D50, 1px -1px 0 #494D50, 2px -1px 0 #494D50, -2px 0px 0 #494D50, -1px 0px 0 #494D50, 0px 0px 0 #494D50, 1px 0px 0 #494D50, 2px 0px 0 #494D50, -2px 1px 0 #494D50, -1px 1px 0 #494D50, 0px 1px 0 #494D50, 1px 1px 0 #494D50, 2px 1px 0 #494D50, -2px 2px 0 #494D50, -1px 2px 0 #494D50, 0px 2px 0 #494D50, 1px 2px 0 #494D50, 2px 2px 0 #494D50, -3px -3px 0 #494D50, -2px -3px 0 #494D50, -1px -3px 0 #494D50, 0px -3px 0 #494D50, 1px -3px 0 #494D50, 2px -3px 0 #494D50, 3px -3px 0 #494D50, -3px -2px 0 #494D50, -2px -2px 0 #494D50, -1px -2px 0 #494D50, 0px -2px 0 #494D50, 1px -2px 0 #494D50, 2px -2px 0 #494D50, 3px -2px 0 #494D50, -3px -1px 0 #494D50, -2px -1px 0 #494D50, -1px -1px 0 #494D50, 0px -1px 0 #494D50, 1px -1px 0 #494D50, 2px -1px 0 #494D50, 3px -1px 0 #494D50, -3px 0px 0 #494D50, -2px 0px 0 #494D50, -1px 0px 0 #494D50, 0px 0px 0 #494D50, 1px 0px 0 #494D50, 2px 0px 0 #494D50, 3px 0px 0 #494D50, -3px 1px 0 #494D50, -2px 1px 0 #494D50, -1px 1px 0 #494D50, 0px 1px 0 #494D50, 1px 1px 0 #494D50, 2px 1px 0 #494D50, 3px 1px 0 #494D50, -3px 2px 0 #494D50, -2px 2px 0 #494D50, -1px 2px 0 #494D50, 0px 2px 0 #494D50, 1px 2px 0 #494D50, 2px 2px 0 #494D50, 3px 2px 0 #494D50, -3px 3px 0 #494D50, -2px 3px 0 #494D50, -1px 3px 0 #494D50, 0px 3px 0 #494D50, 1px 3px 0 #494D50, 2px 3px 0 #494D50, 3px 3px 0 #494D50, -4px -4px 0 #494D50, -3px -4px 0 #494D50, -2px -4px 0 #494D50, -1px -4px 0 #494D50, 0px -4px 0 #494D50, 1px -4px 0 #494D50, 2px -4px 0 #494D50, 3px -4px 0 #494D50, 4px -4px 0 #494D50, -4px -3px 0 #494D50, -3px -3px 0 #494D50, -2px -3px 0 #494D50, -1px -3px 0 #494D50, 0px -3px 0 #494D50, 1px -3px 0 #494D50, 2px -3px 0 #494D50, 3px -3px 0 #494D50, 4px -3px 0 #494D50, -4px -2px 0 #494D50, -3px -2px 0 #494D50, -2px -2px 0 #494D50, -1px -2px 0 #494D50, 0px -2px 0 #494D50, 1px -2px 0 #494D50, 2px -2px 0 #494D50, 3px -2px 0 #494D50, 4px -2px 0 #494D50, -4px -1px 0 #494D50, -3px -1px 0 #494D50, -2px -1px 0 #494D50, -1px -1px 0 #494D50, 0px -1px 0 #494D50, 1px -1px 0 #494D50, 2px -1px 0 #494D50, 3px -1px 0 #494D50, 4px -1px 0 #494D50, -4px 0px 0 #494D50, -3px 0px 0 #494D50, -2px 0px 0 #494D50, -1px 0px 0 #494D50, 0px 0px 0 #494D50, 1px 0px 0 #494D50, 2px 0px 0 #494D50, 3px 0px 0 #494D50, 4px 0px 0 #494D50, -4px 1px 0 #494D50, -3px 1px 0 #494D50, -2px 1px 0 #494D50, -1px 1px 0 #494D50, 0px 1px 0 #494D50, 1px 1px 0 #494D50, 2px 1px 0 #494D50, 3px 1px 0 #494D50, 4px 1px 0 #494D50, -4px 2px 0 #494D50, -3px 2px 0 #494D50, -2px 2px 0 #494D50, -1px 2px 0 #494D50, 0px 2px 0 #494D50, 1px 2px 0 #494D50, 2px 2px 0 #494D50, 3px 2px 0 #494D50, 4px 2px 0 #494D50, -4px 3px 0 #494D50, -3px 3px 0 #494D50, -2px 3px 0 #494D50, -1px 3px 0 #494D50, 0px 3px 0 #494D50, 1px 3px 0 #494D50, 2px 3px 0 #494D50, 3px 3px 0 #494D50, 4px 3px 0 #494D50, -4px 4px 0 #494D50, -3px 4px 0 #494D50, -2px 4px 0 #494D50, -1px 4px 0 #494D50, 0px 4px 0 #494D50, 1px 4px 0 #494D50, 2px 4px 0 #494D50, 3px 4px 0 #494D50, 4px 4px 0 #494D50;
  display: inline-block;
  position: relative;
  background-image: none;
  transition: transform 250ms ease-in;
  transform: perspective(10em) rotateX(-25deg);
}
#header:hover #logo a, #logo a:focus {
  animation-name: wiggle;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#logo a:before, #logo a:after {
  content: '';
  position: absolute;
  display: block;
  background: rgba(206, 204, 202, 0.1);
  z-index: -3;
}
#logo a:before {
  top: calc(50% - 1.165em);
  left: calc(50% - 1.165em);
  border-radius: 1.165em;
  width: 2.33em;
  height: 2.33em;
}
#logo a:after {
  top: calc(50% - 0.77667em);
  left: calc(50% - 0.77667em);
  border-radius: 0.77667em;
  width: 1.55333em;
  height: 1.55333em;
}

#navbar ul {
  padding: 0;
  margin: 0;
  margin-top: 0.75rem;
  list-style: none;
}
#navbar ul li {
  display: inline-block;
}
#navbar a {
  display: block;
  padding: 0.75rem;
}

#footer {
  text-align: center;
  border-top: 0.75rem solid #7a8085;
}

::-webkit-input-placeholder {
  color: #7a8085;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #7a8085;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #7a8085;
}

:-ms-input-placeholder {
  color: #7a8085;
}

input,
select,
textarea {
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  background: #fff;
  color: #494D50;
  border: 0;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.5rem;
  transition: border-right 100ms ease-in;
  border-right: 0 solid #b29580;
}
input:focus,
select:focus,
textarea:focus {
  color: #494D50;
  transition: border-right 100ms ease-in;
  border-right-width: 0.75rem;
}

.form-field {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 1.5rem auto;
  width: 100%;
}
@media (min-width: 40em) {
  .form-field {
    flex-direction: row;
  }
}
.form-field .form-label {
  display: flex;
  align-items: center;
  background: #494D50;
  color: #E4E6E7;
  padding: 0.75rem 1.5rem;
}
.form-field .form-data,
.form-field .form-data * {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.buttons {
  text-align: center;
}

button[type=submit],
.button[type=submit],
input[type=submit] {
  background-color: #c5b0a0;
}

button,
.button,
input[type=submit],
input[type=reset] {
  background: none;
  font-family: "Questrial", sans-serif;
  color: #494D50;
  padding: 0.75rem 1.5rem;
  border: 3px solid #494D50;
}
button:hover, button:focus,
.button:hover,
.button:focus,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=reset]:hover,
input[type=reset]:focus {
  background: #494D50;
  color: #E4E6E7;
}

#footer .container {
  transition: padding-bottom 200ms ease-in-out;
}
@media (min-width: 40em) {
  #footer .container {
    padding-bottom: 0 !important;
  }
}

#player {
  position: fixed;
  z-index: 5;
  bottom: 0;
  transition: transform 200ms ease-in-out;
  width: 100%;
  transform: translateX(100%);
  right: 0;
  background: #aaa;
}
#player.active {
  transform: translateX(0);
}
@media (min-width: 40em) {
  #player {
    transform: translateX(20em);
    width: 20em;
  }
}
#player audio {
  display: none;
}
#player .progress {
  display: block;
  background: #7a8085;
}
#player .progress .bar {
  display: block;
  width: 0;
  background: #494D50;
  height: 1.5rem;
}
#player .controls {
  height: 3rem;
  display: flex;
  align-items: stretch;
  text-align: center;
}
#player .controls svg {
  fill: #494D50;
}
#player .controls span {
  display: block;
  flex: 1 25%;
  height: 3rem;
  cursor: pointer;
}
#player .handle {
  background: #6e7478;
  color: #bcc1c3;
  transition: transform 200ms ease-in-out;
}
@media (min-width: 40em) {
  #player .handle {
    width: 3rem;
  }
}
#player .handle:before {
  display: block;
  font-size: 1.25em;
  line-height: 3rem;
  content: "♫";
}
#player:not(.active) .handle {
  max-width: 3rem;
  transform: translateX(-100%);
}
#player ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-size: 0.85rem;
  line-height: 24px;
  line-height: 1.5rem;
}
#player ul .playing {
  background: rgba(255, 255, 255, 0.25);
}
#player ul li {
  overflow: hidden;
  padding: 0.375rem;
}
#player ul li .remove {
  cursor: pointer;
  display: block;
  float: right;
}

/*# sourceMappingURL=style.css.map */
