$form-accent-color: saturate(lighten(adjust-hue($main-fg, 180deg), 30%), 20%);

::-webkit-input-placeholder {
   color: lighten($main-fg, 20%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($main-fg, 20%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($main-fg, 20%);
}

:-ms-input-placeholder {  
   color: lighten($main-fg, 20%);
}

input,
select,
textarea {
    font-family: $font-primary;
    @include adjust-font-size-to($base-font-size);
    background: #fff;
    color: $main-fg;
    border: 0;
    width: 100%;
    height: auto;
    padding: rhythm(1/2) rhythm(1);
    transition: border-right 100ms ease-in;
    border-right: 0 solid $form-accent-color;
    &:focus {
        color: $main-fg;
        transition: border-right 100ms ease-in;
        border-right-width: rhythm(1/2);
    }
}

.form-field {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    @media (min-width: $max-width) {
        flex-direction: row;        
    }
    margin: rhythm(1) auto;
    width: 100%;
    .form-label {
        display: flex;
        align-items: center;
        background: $main-fg;
        color: $main-bg;
        padding: rhythm(1/2) rhythm(1);
    }
    .form-data, 
    .form-data * {
        flex: 1;
        display: flex;
        align-items: stretch;
    }
}

.buttons {
    text-align: center;
}

button,
.button,
input {
    &[type=submit] {
        background-color: lighten($form-accent-color, 10%);
    }
}

button,
.button,
input[type=submit],
input[type=reset] {
    background: none;
    font-family: $font-primary;
    color: $main-fg;
    padding: rhythm(1/2) rhythm(1);
    border: 3px solid $main-fg;
    &:hover,
    &:focus {
        background: $main-fg;
        color: $main-bg;
    }
}
