#header {
    overflow: hidden;
    padding-bottom: 0;
    text-align: center;
    border-bottom: rhythm(1/2) solid lighten($main-fg, 20%);
    text-transform: lowercase;
}

#logo {
    h3 {
        @include adjust-font-size-to($base-font-size * pow($ratio, 9));
        margin: 0;
        font-family: $font-heading;
        font-weight: 400;
    }
    a {
        @include stroke(4px, $main-fg);
        display: inline-block;
        position: relative;
        background-image: none;
        transition: transform 250ms ease-in;
        transform: perspective(10em) rotateX(-25deg);
        #header:hover &,
        &:focus {
            animation-name: wiggle;
            animation-timing-function: ease-in-out;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @include dot(lighten(transparentize(adjust-hue($main-fg, 180deg), 0.90), 50%), 50%, 50%, 2.33em);
    }
}

#navbar {
    ul {
        padding: 0;
        margin: 0;
        margin-top: rhythm(1/2);
        list-style: none;
        li {
            display: inline-block;
        }
    }
    a {
        display: block;
        padding: rhythm(1/2);
    }
}